<h2>@ViewBag.Category.Name</h2>
<table id="table" class="table-striped">
    <tr>
        <th>Topic</th>
        <th>Topic Creator</th>
        <th>Date Created</th>
        @if(User.IsInRole("Admin"))
        {
            <th>Options</th>
        }
    </tr>
    @foreach(Topic topic in @ViewBag.Category.Topics)
    {
        <tr>
            <td><a href="/topic/@topic.TopicId">@topic.Title</a></td>
            <td>@topic.User.FirstName @topic.User.LastName</td>
            <td>@topic.CreatedAt.ToString("MMM dd yyyy")</td>
            @if(User.IsInRole("Admin"))
            {
                <td><a href="/topic/delete/@topic.TopicId">Delete</a></td>
            }
        </tr>
    }
</table>

    <form action="/topic/add" method="post">
        <h3>Add a Topic</h3>
        <h5>Topic Title</h5>
        <input type="text" name="Title">
        <h5>Topic Text</h5>
        <input type="text" name="TopicText">
        <input type="hidden" name="CategoryId" value="@ViewBag.Category.CategoryId">
        <input type="submit" value="Create Topic">
    </form>
